
.detailsContainer{
    padding:1em;
    background-color: #fafafa;
}


.detailsHeader{
    display:flex;
    justify-content: space-around;
    padding-bottom: 2em;
}

.detailsHeader>h1 {
    font-size: 36px;
}

.image >img{
   max-width: 30vw;
}

.buttons>button,
.editBtn {
    margin-right: 1em;
    padding:0.5em;
    font-size:16px;
    line-height: 2;
    border-radius: 1em;
    background-color: aqua;

    border-width: 2px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
}

.buttons>button:hover ,
.editBtn:hover{
    background-color: blue;
    color:white;
}

.roomDetails {
   
    display:flex;
    justify-content: space-evenly;
    
}

.roomInfo {
    max-width: 500px;
    min-height: 450px;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    border-radius:10px; 
    flex:0 1 20vw;
}

.row {
    display:flex;
    justify-content: space-between;
    padding: 2em 2em;
    border-bottom: 1px solid #eee;
    color: #aaa;
    font-weight: 400;
}

.row>p>b {
    color:black;
}
.details{
    flex:0 1 20vw;

}

.details>h2 {
    font-size: 26px;
    padding-bottom: 1.5em;
}

.commentsSection {
    margin: 4em;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    border-radius:10px; 
}

.addComment>form>label{
    padding:1em;
}

.comment{
    list-style-type: none;
}