.roomContainer {
    
    padding: 1em;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: 1px solid black;
    margin: 5% 0%;
}

.card-body {
    margin: 0% 0% 0% 3%;
    padding: 6% 0%;
}